node_modules
.pnpm-store
.nuxt
.output
dist
.git
.github
.cursor
.env*
!.env.example
*.md
README.md
docs
playwright-report
test-results
e2e
playwright.config.ts
terminals
*.log
npm-debug.log*
pnpm-debug.log*
